.titulo {
    background-color: rgb(109, 69, 146);
    color: aliceblue;
    border: none;
} 
body {
    background-color: rgb(121, 152, 255);
}
.button {
    background-color: #3437e2; /* Cor de fundo (verde) */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove a sublinhado do texto */
    display: inline-block; /* Alinha o botão */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem ao redor do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    border-radius: 8px; /* Arredonda os cantos */
}
.meu-botao:hover {
    background-color: #45a049;
    }
    
.img2 {
    width: 300px;
    height: 200px;
}